$darkGrey: #606368;
$medGrey: #6c7b82;
$pinkRose: #ebd3d1;

@import "../partials/setup";
@import "../partials/nailform";
@import "../partials/results";


body {
	background-color: $darkGrey;
	color: $medGrey;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.container {
	background-color: $pinkRose;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

.logo img {
	text-align: center;
	height: 200px;
}
p{
	color: $pinkRose;
}

footer {
	height:100px;
	background-color: $medGrey;
	margin-top: 50px;
	font-size: 15px;
	p {
		padding-top: 20px;
		color: $pinkRose;
	}
}

@media (max-width: 600px) {
	label {
		display: block;
		text-align: left;
		margin-top: 20px;
		input[class="activity"] {
			margin-right: 20px;
		}
		input[class="dateNumber"] {
			margin-right: 20px;
		}
	}
}
