h2 {
	margin: 20px; 
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: $medGrey;
	font-size: 25px;
}

.nailForm p{
	padding-top: 10px;
	color: $medGrey;
}

.button {
	display:block;
	text-align: center;
	background-color: white;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
	color: $darkGrey;
	padding: 10px 30px;
	margin: 30px auto 20px auto;
	font-family: 'Rochester', serif;
	font-size: 30px;
	&:hover {
	color: white;
	background-color: $darkGrey;
	transition: 0.2s;
	}
	&:focus {
		outline: 0;
	}
}

label:hover {
	cursor: pointer;
}

input[type="radio"] {
  appearance:none;
  height: 100%;
  margin-left: 40px;
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
  color: $darkGrey;
  &:hover, &:checked {
    background: $medGrey;
  }
  &:checked {
    background: $darkGrey;
  } 
  &:focus { 
  	outline: 0; 
  }
}

p.dateActivity, p.dateNumber {
	font-size: 25px;
	margin-bottom: 15px;
}
